*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background: #111;
}

h2{
    font-size: 4em;
    font-weight: 500;
}

h2 span{
animation: animate 3s linear infinite;
}

h2 span:nth-child(1){animation-delay:0s;}
h2 span:nth-child(2){animation-delay:0.1s;}
h2 span:nth-child(3){animation-delay:0.2s;}
h2 span:nth-child(4){animation-delay:0.3s;}
h2 span:nth-child(5){animation-delay:0.4s;}
h2 span:nth-child(6){animation-delay:0.5s;}
h2 span:nth-child(7){animation-delay:0.6s;}
h2 span:nth-child(8){animation-delay:0.7s;}
h2 span:nth-child(9){animation-delay:0.8s;}
h2 span:nth-child(10){animation-delay:0.9s;}
h2 span:nth-child(11){animation-delay:1s;}
h2 span:nth-child(12){animation-delay:1.1s;}
h2 span:nth-child(13){animation-delay:1.2s;}
h2 span:nth-child(14){animation-delay:1.3s;}
h2 span:nth-child(15){animation-delay:1.4s;}
h2 span:nth-child(16){animation-delay:1.5s;}
h2 span:nth-child(17){animation-delay:1.6s;}
h2 span:nth-child(18){animation-delay:1.7s;}
h2 span:nth-child(19){animation-delay:1.8s;}
h2 span:nth-child(20){animation-delay:1.9s;}
h2 span:nth-child(21){animation-delay:2s;}
h2 span:nth-child(22){animation-delay:2.1s;}
h2 span:nth-child(23){animation-delay:2.2s;}
h2 span:nth-child(24){animation-delay:2.3s;}
h2 span:nth-child(25){animation-delay:2.4s;}
h2 span:nth-child(26){animation-delay:2.5s;}
h2 span:nth-child(27){animation-delay:2.6s;}
h2 span:nth-child(28){animation-delay:2.7s;}
h2 span:nth-child(29){animation-delay:2.8s;}

/* y así sucesivamente */




/* Corazón */
.heart{
    color: red;
    animation: heartbeat 1s infinite;
    margin-left: 15px;
}

@keyframes animate{
    0%,80%{
        color: #333;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow:
            0 0 10px #fff,
            0 0 20px #ff4da6,
            0 0 40px #ff4da6,
            0 0 80px #ff4da6;
    }
}

@keyframes heartbeat{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
}
